{% extends 'base.html.twig' %}

{% block title %}{{parent()}}-Dashboard
{% endblock %}

{% block body %}
{{parent()}}
<link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">



</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 cursor">
            {% for post in pagination %}
            <div class="bg-white rounded p-3 my-3" id="greybackground" onclick="window.location.href='{{path('VerPosts',{id:post.id})}}'">
                <div class="d-flex bd-highlight rounded h-50" >
                    <div class="p-2 flex-grow-1 bd-highlight ">
                        <h3>{{post.titulo}}</h3>
                        <div class="align-self-center">
                            <img class="rounded hoverable" src="{{ asset('uploads/photos/'~post.foto)}}" width="450px">
                        </div>
                        <div class="my-3 bg-yellow"><i class="far fa-user"></i><strong>Creado por {{post.nombre}}</strong></div>
                        <div class="bg-green"><i class="far fa-clock"></i><strong>Fecha de publicación: {{ post.fecha_publicacion | date}}</strong></div>
                    </div>
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>
        {# <div class="col-md-4">
            <div class="bg-white rounded p-3 my-3">
                <h4>Comentarios</h4>
            </div>
        </div>#}
    </div>
</div>
<div class="d-flex justif-content-center">
    <div class="navigation">
        {{knp_pagination_render(pagination)}}
    </div>
</div>

{% endblock %}
